{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block different_content %}    
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="mb-3">
                <legend class="border-bottom mb-4">Log In</legend>
                {{form|crispy}}
            </fieldset>
            
            <div class="mb-3">
                <!-- <input type = "submit" value = "Sign Up"> -->
                <button class="btn btn-success" type="submit" onsubmit="">Log In</button>
            </div>

            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't Have an Account?<a href="{% url 'users-register' %}" class = "m-3">Register</a>
                </small>
            </div>
        </form>
    </div>
{% endblock different_content %}
