{% extends 'blog/base.html' %}

{% block different_content %}
    
    {% if value %}
        <script>
            alert('Unsucessful! Please Enter Correct Details')
        </script>
    {% endif %}
    <div class="content-section">
        <form action = "{% url 'users-register' %}" method="post">
            {% csrf_token %}
            <fieldset class="mb-3">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{form}}
            </fieldset>
            
            <div class="mb-3">
                <!-- <input type = "submit" value = "Sign Up"> -->
                <button class="btn btn-success" type="submit" onsubmit="">Sign Up</button>
            </div>

            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Registered?<a href="{% url 'users-login' %}" class = "m-3">Login</a>
                </small>
            </div>
        </form>
    </div>
{% endblock different_content %}
