{% extends 'blog/base.html' %}

{% block different_content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata d-flex justify-content-between">
                <div>
                  <img class="rounded-circle account-img" src = "{{ post.author.profile.image.url }}" style = "width: 30px; height: 30px;">
                  <a href="{% url 'another_user-profile' post.author %}">{{ post.author }}</a>
                </div>
                <small class="text-muted" style="text-align: right;">{{post.date_posted|date:"F d, Y"}}</small>
              </div>
              <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock different_content %}